<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <!-- For responsive page -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Basic HTML5 Document" />
    <meta name="keywords" content="HTML5, Responsive" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <title>Movies</title>
    <style>
        .main-form {
            text-align: left;
        }

        .post-img {
            width: 300px;
            height: 300px;
        }

        .post-div {
            margin: 10px;
        }

        .main-div {
            margin: 15px;
        }
    </style>

</head>

<body>

    
    <div class="mx-auto w-50 text-center">
        <h1>Movie List</h1>
        <hr>
        {{!change action}}
        <form class="main-form" action="/movies/api/addMovie" method="POST">

            <!-- Movie Details -->
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Movie Details: </label>
                <div class="col-sm-6">
                    <input class="form-control" name="title" id="title" placeholder="Title" autofocus>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="year" id="year" placeholder="Year (optional)">
                </div>
            </div>
            <!-- Name -->
            <div class="form-group row">
                <label for="name" class="col-sm-3 col-form-label">Your Name: </label>
                <div class="col-sm-9">
                    {{!-- need to save this and mainain the users name --}}
                    <input type="text" class="form-control" name="name" id="name" placeholder="Name"
                        value="{{Name}}">

                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-primary">Post</button>
                </div>
                <div class="col-sm-4">
                    <input class="form-check-input" type="checkbox" id="api" name="api" checked>
                    <label class="form-check-label" for="api">Pull Data from TMDB</label>
                </div>
            </div>
            {{!-- <input type="hidden" id="poster" name="poster">
            <input type="hidden" id="overview" name="overview"> --}}
        </form>
        <hr>
    </div>

    <div class="main-div">

        {{{body}}}

        <footer>
            <img src="http://gseidell.ddns.net/movies/public/tmdbLogo.png" alt="tmdb" height="80" width="200">
            <br>
            <br>
            <p>View the code on <a href="https://gitlab.com/gseidell/movielist2"> gitlab</a></p>
        </footer>
    </div>

</body>

</html>
