{{#each data}}
<div class="row post-div">
    <div class="col-2">
    </div>
    <div class="col-2">
        {{!maybe make this imghtml like in php version}}
        {{!$imageHTML = '<img src="http://image.tmdb.org/t/p/w185'.$post["poster"].'" width="200" height="300"/>';}}
        <p>
            <img src="http://image.tmdb.org/t/p/w185{{this.poster_path}}" class="img-fluid" />
        </p>

    </div>
    <div class="col-6">
        <p> <b>{{this.title}}</b> <b>({{this.year}})</b></p>
        <p>{{this.name}}</p>
        <p> {{this.overview}} </p>

    </div>
    <div class="col-1">
        {{!change endpoint}}
        <form action="/movies/api/removeMovie" method="POST">
            <input type="hidden" id="titleToRemove" name="titleToRemove" value="{{this.title}}">
            <button type="submit" class="btn btn-primary">Remove</button>
        </form>
    </div>

</div>
{{/each}}
